  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <%= image_tag "Collage_Fotor.jpg", class:"mb-2",  alt:"", :size =>'24x24' %>
        <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
      </div>
      <div class="col-6 col-md">
        <h5>特徴</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">ランダム機能</a></li>
          <li><a class="text-muted" href="#">チーム機能</a></li>
          <li><a class="text-muted" href="#">開発者へ</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>リソース</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">資源</a></li>
          <li><a class="text-muted" href="#">リソース名</a></li>
          <li><a class="text-muted" href="#">最終リソース</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>サイトについて</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">チーム</a></li>
          <li><a class="text-muted" href="#">場所</a></li>
          <li><a class="text-muted" href="#">プライバシー</a></li>
        </ul>
      </div>
    </div>
  </footer>